
#calc {
	display: flex;
	flex-wrap: wrap;
  }
  
  .square {
	position: relative;
	margin: 2px;
	border: 1px solid;
	box-sizing: border-box;
  }
  
  .square::before {
	content: "";
	display: block;
	padding-top: 100%;
  }
  
  .square .content {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
  }
  
  .square .content:hover {
	background-color: red;
  }